{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row gutters px-xl-5">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img id="userImage" src="{{ request.user.get_image }}" alt="User picture">
                                    <div class="image-icons">
                                        <div class="image-upload-icon"
                                             onclick="document.getElementById('fileInput').click();">
                                            <i class="fa fa-camera"></i>
                                        </div>
                                    </div>
                                    <form id="imageForm" method="post" enctype="multipart/form-data"
                                          action="{% url 'user:update_photo' %}">
                                        {% csrf_token %}
                                        <input type="file" id="fileInput" name="image" accept=".jpg,.jpeg,.png"
                                               style="display: none;"
                                               onchange="document.getElementById('imageForm').submit();">
                                    </form>
                                </div>
                                <h5 class="user-name">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
                                <h6 class="user-email">{{ request.user.username }}</h6>
                            </div>
                                <hr>

                            <div class="about">
                                <h5>Refresh password</h5>
                                <div class="row">
                                    <div class="col-12">
                                        <form method="post" name="changePassword"
                                              action="{% url 'user:password_change' %}">
                                            {% csrf_token %}
                                            {{ password_form }}
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-primary" value="Saqlash">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100 content-right">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Shaxsiy ma'lumotlar</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Ism</label>
                                    <input type="text" class="form-control" id="fullName" disabled
                                           value="{{ request.user.first_name }}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">Familiya</label>
                                    <input type="email" class="form-control" id="eMail" disabled
                                           value="{{ request.user.last_name }}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Email</label>
                                    <input type="text" class="form-control" id="phone" disabled
                                           value="{{ request.user.email }}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website">Telefon:</label>
                                    <input type="url" class="form-control" id="website" disabled
                                           value="{{ request.user.phone }}">
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="sTate">Manzil</label>
                                    <input type="text" class="form-control" id="sTate" disabled
                                           value="{{ request.user.address }}">
                                </div>
                            </div>
                        </div>
                        <form method="post">
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mt-3 mb-2 text-primary">Qo'shimcha ma'lumotlar</h6>
                                </div>
                                {% csrf_token %}
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="{{ profile_form.email.id_for_label }}">Email</label>
                                        {{ profile_form.email }}
                                        {% if profile_form.email.errors %}
                                            <div class="alert alert-danger">
                                                {% for error in profile_form.email.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="{{ profile_form.phone.id_for_label }}">Telefon raqam:</label>
                                        {{ profile_form.phone }}
                                        {% if profile_form.phone.errors %}
                                            <div class="alert alert-danger">
                                                {% for error in profile_form.phone.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <input type="submit" class="btn btn-primary me-md-2" style="border-radius: 10px"
                                       value="Yangilash">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}